#root {
  max-width: 128px;
  margin: 10 auto;
  padding: 20rem;
  text-align:end;
}

.logo {
  height: 22em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: fixed;
}
.logo:hover {
  filter: drop-shadow(10 10 20em #646cffab);
}
.logo.react:hover {
  filter: drop-shadow(20 20 10em #61dafbac);
}

@keyframes logo-spin {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(3) .logo {
    animation: logo-spin infinite 2s linear;
  }
}

.card {
<<<<<<< HEAD
  padding: 20em;
}

.read-the-docs {
  color: #111;
}
=======
  padding: 2em;

}

.read-the-docs {
  color: #888;
  font-size: 30px;
  transition: filter 300ms;
}


>>>>>>> 0663230 (123)
